@font-face {
    font-family: poppins-light;
    src: url(Fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppins-semibold;
    src: url(Fonts/Poppins-SemiBold.ttf);
}

@media (max-width: 768px) {
    .skills-card {
      width: 150px; /* Adjust width as needed */
    }
  }

html{
    scroll-behavior: smooth !important;
}

.row{
    padding: 10px;
}

p{
    font-family: poppins-light;
    font-size: 20px;
}

p.h1{
    font-size:58px;
}

p.h3{
    font-size: 30px;
    margin-bottom:10px;
}


#grilling{
    height:400px !important;
    padding: 0px;
    border-radius: 25px;
}

#ddnow{
    height: 300px;
}

@media (max-width: 450px) {
    #ddnow {
        height: 200px;
    }
}

.github{
    text-decoration: none;
    color: #5d2181;
}

.github:hover{
    color: #8c50ae;
}

.linkedin{
    text-decoration: none;
    color: #0078b4;
}

.linkedin:hover{
    color: #27a8e9;
}

h1{
    font-size: 50px;
    color: #F03A47;
}



h3{
    font-size: 28px;
}
p.h5{
    font-family: poppins-semibold;
}

h6{
    white-space: pre;
}

.card-text{
    margin: 0px;
}

.btn-primary{
    margin-top: 0px;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
}

.card{
    border: none;
}

i{
    font-size: 55px;
    padding: 10px;
    padding-bottom: 0px;
}
.card-body{
    padding-top:0px;
}


